.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.input-group {
    display: flex;
    width: 100%;
}

.form-container input {
    margin: 10px 0;
}

.form-container>* {
    margin: 10px 10px;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: 7em;
}


.input-group span {
    position: relative;
    color: #fff;
    margin-left: .5em;
    align-self: center;
}

.messages {
    border: 3px solid #fff;
    color: #fff;
    padding: 2em;
    margin-bottom: 2em;
}

label {
    align-self: center;
    width: 10em;
    font-weight: 700;
    color: #fff;
}

#links {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
}

#links:hover {
    color: #88665D;
}