h1 {
    text-align: center;
    color: #f5f5f5;
}

p {
    text-align: center;
    font-weight: 700;
    color: #ffffff80;
    font-size: 1rem;
    line-height: 2rem;
}

.video-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.video-container ul {
    display: flex;
    list-style-type: none;
    padding: auto;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
}

.video-container ul li {
    flex: 1 0 200px;
    transition: color 0.3s ease;
    margin: 10px;
    box-sizing: border-box;
}

/* .video-container ul li:hover {
    border: 10px solid transparent;
} */

@media (max-width: 600px) {
    .video-container ul li {
        flex: 1 0 100%;
        justify-content: center;
    }
}

iframe {
    position: relative;
}