body {
    overflow-y: hidden;
}

h1 {
    text-align: center;
    color: #f5f5f5;
}

.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2% 0;
}

#map {
    width: 1500px !important;
    height: 700px !important;
    margin: auto !important;
    box-sizing: border-box !important;
}